/* Global */
body { font-family: Helvetica, "Segoe UI", "宋体"; font-size: small !important; background-color: #eee; display:none;}
.menu { background-color: #22465E !important; color: #22465E !important}
.menu a {
  color: #eee !important;
  padding: 0px 3px !important;
}
.menu a:hover {
  color: white !important;
}
.hla { background-color: white !important; }
.list li { padding: 5px 3px 5px 3px !important; }
.list li div:first-child { margin-bottom: 2px; }
.list li div:last-child a { text-decoration:underline; }
#wraper .list li div:last-child { font-size: small !important; color: #555 !important; opacity: .6 }
#wraper2 .list li { border-top: 0px !important; }

a { color: #333 !important; }
a.top { color: crimson !important; }
a:hover { color: #0064AF !important; }
#wraper a:visited, #wraper2 a:visited { color: coral !important; }
#favor {
  display: none;
  border: 1px solid #22465E;
  position: absolute;
  width: 450px;
  top: 26px;
  left: 110px;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px #555;
}
#favor ul { -webkit-column-count: 2; }
#favor ul li { white-space: nowrap; width: 200px; background-color: white;}
#favor ul li a { display: block;  }
#favor ul li:hover { background-color: #ddd }
div.loading { opacity: .5 }
span.tip { display: none; margin-left: 4px; color:white}
div.loading span.tip { display: inline; }
div.recent_div { display: inline-block; }
div.recent_div ul { 
  position: absolute;
  display: none;
  background: #FFF;
  border: 1px solid #22465E;
  box-shadow: 2px 2px 5px #555;
  margin-top: 3px;
  padding: 5px;
}
div.recent_div ul li a { color: #333 !important; display: block; }
div.recent_div ul li a:hover { color: #0064AF !important; }
div.recent_div ul li:hover { background-color: #eee; }

a.page_last { float:right; }
a.page { padding-left: 1px; padding-right: 1px;}
span.plant { padding-left: 2px; padding-right:1px;}

#bigpage #wraper {
  float: left;
  width: 40%;
  overflow-y: hidden;
  margin-right:2px;
}
#bigpage #wraper2 {
  overflow-y: hidden;
}
#bigpage {
  position: relative;
  max-width: 1200px;
  overflow-y: hidden;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px black;
  padding: 5px 5px;
}

#wraper div.header {
  /*border-bottom: 1px solid #53bbd4;*/
  background-color: #53bbd4;
}
#wraper2 div.header { background-color: #57c1b4}
div.header {
  padding: 2px;
  margin-bottom:1px;
}

div.contents { overflow-y: auto; display:none;
}


div.contents::-webkit-scrollbar { width: 0px;}
div.contents::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 3px rgba(0,0,0,0.3);*/
  background-color: white;
}
div.contents::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);
}


a.close { float:left; margin-right: 4px; }
a.close:link { color: #efefef !important }
a.close:hover { color: crimson !important; }
a.close_all { margin: 0px 2px; }
div.tools { float: right; padding: 2px;}
div.tools div.tool { display: inline-block; margin-right: 3px; }
div.tools, div.tools a { color: #eee !important; }
div.tools a:hover { color: white !important; }
a.page_num { float:right; margin-right:4px; background-color:white; min-width:20px;text-align:center; padding:0px 2px; }
a.toggle:link { color:white !important  }
a.toggle:hover { color: rgb(205,0,60) !important; }
span.comment { font-size: small; color:gray }
span.bodytext { font-size: small; color: black; line-height: 20px;}
div.comments { max-height: 50px; overflow-y:auto; }
span.cur_page { font-weight: bold; text-decoration:underline;padding:0px 1px; }

.list li .nav { overflow: hidden; }
.list li .nav > div:first-child { float:left; }
.list li .nav > div:first-child > a { margin: 0px 4px; }
.list li .nav > div:first-child > a:nth-child(2) { font-weight:bold; }
.list li .nav > div:first-child > a:nth-child(3) { opacity: 0.5; }
.list li .nav > div:last-child { float:right; }